@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* Global Styles */
:root {
  --primary-color: #544388;
  --secondary-color: #E6532D;
  --dark-color: #333333;
  --light-color: #fff;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --info-color: #008C9F;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #333;
  background-color: #fff;
}

ul {
  list-style: none;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.container {
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 0 1rem;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-success {
  color: var(--success-color);
}

.text-light {
  color: var(--light-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.card {
  padding: 1rem;
  border: #ccc 1px dotted;
  margin: 0.7rem 0;
}

/* Margin */

.margin {
  margin: 0.5rem;
}


.margin-1 {
  margin: 1rem;
}
.margin-2 {
  margin: 2rem;
}
.margin-3 {
  margin: 3rem;
}
.margin-y {
  margin: 0.5rem 0;
}
.margin-y-1 {
  margin: 1rem 0;
}
.margin-y-2 {
  margin: 2rem 0;
}
.margin-y-3 {
  margin: 3rem 0;
}

.margin-y-auto {
  margin: 0.5rem auto;
}
.margin-y-1-auto {
  margin: 1rem auto;
}
.margin-y-2-auto {
  margin: 2rem auto;
}
.margin-y-3-auto {
  margin: 3rem auto;
}


/* For a circular image */
.circular-image {
  border-radius: 50%;
}

.small-image {
  width: 25px !important;
}

.medium-image {
  width: 50px !important;
}

.large-image {
  width: 100px !important;
}

.x-large-image {
  width: 150px;
}

/* list */
.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}
/* Forms */
input {
  margin: 1.2rem 0;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='file'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 2px solid var(--primary-color);
}

input[type='submit'],
button {
  font: inherit;
}

.form-group {
  margin: 1.2rem 0;
}

.form-group input {
  margin: 0.2rem 0;
}



.form-container {
  max-width: 700px;
  margin: 2rem auto;
  overflow: hidden;
  padding: 2rem;
}

.form-container > h1, h2, h3 {
  text-align: center;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 3rem;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.9;
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
}

.navbar h1 {
  font-weight: bold;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--light-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

/* Grids */
/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.grid-2-3 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 2rem;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}

.btn-circular {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

.badge {
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
  border-radius: 5px;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-secondary,
.bg-secondary,
.badge-secondary,
.alert-secondary {
  background: var(--secondary-color);
  color: #fff;
}


.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}



.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}



.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

/* Floating Widget */


.widget {
  height: auto;
  width: auto;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  z-index: 10;
  
} 


@media (max-width: 700px) {
  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }
    /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar h1 {
    margin-bottom: 0.6rem;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .widget {
    left: 0;
    right: 0;
    margin-left: 35%;
    margin-right: 35%;
  }
}